body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

body header:first-of-type {
    background: #35424a;
    color:#ffffff;
    padding: 30px 0px 27px 0px;
    border-bottom: #e8491d 3px solid;
    
}


.highlight{
    color: #e8491d;
}

.w80p {
    width: 80%;
    min-width: 500px;
    margin: auto;
    overflow: hidden;
}



@media(max-width:768px){
    .w80p {
        width: 100%;
        margin: auto;
        overflow: hidden;
    }
}

#title{
    /* background-color: #35424a;
    color: #ffffff;
    font-size: 2em;
    font-weight: bold; */
    text-align: center;
}

h1,h2,h3,h4 {
    text-indent: 1%; 
    background-color: #35424a;
    color: #ffffff;
}

article > h1 {
    font-size: 200%;
    border-bottom: #e8491d 3px solid;
}

figure img {
    border: thin dashed #35424a;
}

figure img, figure figcaption{
    max-width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: #35424a;
    color: white;
    padding-top: 10px;
    padding-bottom: 0px;
    /* position:fixed; */
    bottom:0;
    width:100%;
    text-align:center;
}