body{
    background-color: #f4f4f4;
}
.nav {
    overflow: hidden;
    /* width: 100%;
    height: 60px;
    margin: 0; */
    background-color: #b32d00;
}

.nav a {

    text-align: center;
    text-decoration: none;
    padding: 15px 16px;
    float: left;
}

.menu {
    width: 104px;
    height: 21px;
    font-family: 'Work Sans';
    font-size: 18px;
    letter-spacing: 0.4px;
    text-align: center;
    color:white;
    

}

.menu:hover{
    background-color: white;
    color: black;
    margin-top:0.3%;
}

.Login-btn {
    width: 90px;
    height: 21px;
    font-family: 'Work Sans';
    font-size: 18px;
    letter-spacing: 0.4px;
    text-align: center;
    color: white;
}

.Login-btn:hover{
    margin-top:0.6%;
    background-color: white;
    color: black;
}

/* #myTopnav {
    margin-left: 5%;
} */

.icon-menu {
    float: right;
    margin-right: 3%;
}

#search {
    padding: 15px 0px;
    color: #ffffff;
    display: flex;
    float: left;
}

#search input[type="text"]{
    width: 250px;
}
#search button{
    width: 30px;
    height: 30px;
}

.nav .icon {
    display: none;
    color:white;
  }
  
  @media screen and (max-width: 720px) {
    .nav a:not(:first-child) {display: none;}
    .nav .icon-menu:not(:first-child) {display: none;}
    .nav .icon-menu form:not(:first-child) {display: none;}
    .nav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 720px) {
    .nav.responsive {position: relative;}
    .nav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .nav.responsive a {
      float: none;
      display: block;
      text-align: left;
      margin-left:1%;
    }
    .nav.responsive .icon-menu {
      float: none;
      display: block;
      text-align: left;
      margin-left:1%;
    }
    .nav.responsive .icon-menu form{
      float: none;
      display: block;
      text-align: left;
      margin-left:3%;
    }
    .nav.responsive .menu:hover{
        background-color: white;
        color: black;
    }

    .nav.responsive .Login-btn:hover{
        background-color: white;
        color: black;
    }
  
  }

/* news content */
.container{
  margin-left:5%;
}
#news {
    margin:5%;
    display: flex;
    flex-flow: row wrap;
  
}
.highlight{
    color:#e63900;
}
#news a{
    font-style: italic;
    color: #35424a;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
}
#news .box{
    background: #d3d3d3;
    justify-content: space-between;
    align-items: baseline;
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}


/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
}

img{vertical-align: middle;
    width:100%;
    height: 300px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: black;
  font-size: 25px;
  font-family: 'Work Sans';
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
