
table.register_table {
   
   font-family: arial, sans-serif;
   border-collapse: collapse;
   border: 1px solid black;
   border-radius: 14px;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: black;
   text-align: center;
   background: #d9d9d9;
   width:30%;
   height:50%;
}

td, th {
    border: 1px solid #b32d00;
    text-align: center;
    padding: 2%;
	
}
tr:first-child, tr:last-child {
    background-color: #b32d00;
	color: white;
}
footer {
    background-color: #b32d00;
    padding-top: 10px;
    padding-bottom: 0px;
    position:fixed;
    bottom:0;
    width:100%;
    text-align:center;
}

html {
    font-family: "Lucida Sans", sans-serif;
	background-color: #f4f4f4;
}
textarea{
	width:100%;
}

select {
	width:100%;
	font-size: 100%;
}