
table.register_table {
   
   font-family: arial, sans-serif;
   border-collapse: collapse;
   border: 1px solid black;
   border-radius: 14px;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: white;
   text-align: center;
   background: #b32d00;
   width:30%;
   height:50%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 2%;
	
}
tr:nth-child(even) {
    background-color: #00ff99;
	color: black;
}
footer {
    #background-color: #F3F3F3;
    padding-top: 10px;
    padding-bottom: 0px;
    position:fixed;
    bottom:0;
    width:100%;
    text-align:center;
}

html {
    font-family: "Lucida Sans", sans-serif;
	background-color: #474e5d;
}
textarea{
	width:100%;
}

select {
	width:100%;
	font-size: 100%;
}