
td, th {
    border: 1px solid #b32d00;
    text-align: center;
    padding: 10px;
	
}

tr:first-child, tr:last-child {
    background-color: #b32d00;
	color:white;
}
footer {
    background-color: #b32d00;
    padding-top: 10px;
    padding-bottom: 0px;
    position:fixed;
    bottom:0;
    width:100%;
    text-align:center;
}
table.register_table {
    
   border: 1px solid black;
   border-radius: 14px;
   border-collapse: collapse;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: black;
   text-align: center;
   background-color: #d9d9d9;
   width:30%;
   font-family: arial, sans-serif;
   z-index: -1;
   
}
html {
    font-family: "Lucida Sans", sans-serif;
    background-color:#f4f4f4;
}


/* choose allergy */

.multiselect {
    width: 200px;
}

.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
    font-weight: bold;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#checkboxes1, #checkboxes2, #checkboxes3 {
    display: none;
    border: 1px #dadada solid;
}

#checkboxes1 label, #checkboxes2 label, #checkboxes3 label{
    display: block;
}

#checkboxes1 label:hover, #checkboxes2 label:hover, #checkboxes3 label:hover {
    background-color: #1e90ff;
}