.user_container{
    font-size:20px;
    color: black;
    /* text-align: center; */
    /* margin-top: 20px; */
    margin-left: 42%;
    margin-bottom: 5px;
    text-decoration: none;
}

.page_title{
    font-size:30px;
    color: black;
    text-align: center; 
}

.corpus{
    margin-bottom: 50px;
    /* padding: 10px; */
}

.notification{
    margin-left:41%;
    font-size:20px;
}

#submit{
    position: fixed;
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  

  .allergy-name{
      color:red;
  }