<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/index.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/allergy.css" />
</head>

<body>

    <!-- navbar -->
    <div class="nav">
        <div id="myTopnav">
            <a class="menu" href="#home">News</a>
        </div>

        <div class="icon-menu">
            <form id="search">
                <input type="text" placeholder="Search...">
                <button type="submit" value="Submit"><i class="fas fa-search"></i></button>
            </form>
            <a class="Login-btn" href="#register">Register</a>
            <a class="Login-btn" href="#login">Login</a>
        </div>
    </div>

    <!-- allergy details -->
    <section id="info">
        <div class="container">
            <h1 id="allergy-title"><span class="highlight">Allergy 1</span> </h1>

            <a id="title-description">What is Allergy 1?</a>
            <div id="reports">
                <a>HTMLreport</a>
                <a>PDFstatistics</a>
            </div>
            <div class="box">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sem orci, rhoncus sed tortor
                    sed, posuere bibendum nisl. Etiam quis libero ac orci vulputate eleifend et at turpis. Donec at
                    enim vel mi dignissim laoreet. </p>
            </div>

            <p class="info-title">Symptoms:</p>
            <div class="box">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sem orci, rhoncus sed tortor
                    sed, posuere bibendum nisl. Etiam quis libero ac orci vulputate eleifend et at turpis. Donec at
                    enim vel mi dignissim laoreet. </p>
            </div>

            <p class="info-title">Prevention:</p>
            <div class="box">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sem orci, rhoncus sed tortor
                    sed, posuere bibendum nisl. Etiam quis libero ac orci vulputate eleifend et at turpis. Donec at
                    enim vel mi dignissim laoreet. </p>
            </div>

            <p class="info-title">Treatment:</p>
            <div class="box">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sem orci, rhoncus sed tortor
                    sed, posuere bibendum nisl. Etiam quis libero ac orci vulputate eleifend et at turpis. Donec at
                    enim vel mi dignissim laoreet. </p>
            </div>

            <p class="info-title">Medication:</p>
            <div class="box">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sem orci, rhoncus sed tortor
                    sed, posuere bibendum nisl. Etiam quis libero ac orci vulputate eleifend et at turpis. Donec at
                    enim vel mi dignissim laoreet. </p>
            </div>

        </div>
    </section>
</body>

</html>