<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/index.css" />
    <script src="../../MVC/scripts/index.js" defer></script>
</head>

<body>
    <!-- Slideshow container -->
    <div class="slideshow-container">

        <div class="mySlides fade">
            <img src=" ../images/Capture.jpg">
            <div class="text">SeAN</div>
        </div>

        <div class="mySlides fade">
            <img src="../images/img2.jpg">
            <div class="text">SeAN</div>
        </div>

        <div class="mySlides fade">

            <img src="../images/img1.jpg">
            <div class="text">SeAN</div>
        </div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

    </div>

    <!-- navbar -->
    <div class="nav" id="myTopnav">
        <div>
            <a class="menu" href="#home">News</a>
        </div>

        <div class="icon-menu">
            <a class="Login-btn" href="#register">Register</a>
            <a class="Login-btn" href="#login">Login</a>
            <form id="search">
                <input type="text" placeholder="Search...">
                <button type="submit" value="Submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="menuBars()">
            <i class="fa fa-bars"></i>
        </a>
    </div>

    <!-- news -->
    <section id="news" class="w80p">
        <div class="container">
            <h1><span class="highlight">News</span> about allergies</h1>
            <div class="box">
                <a href="#">Allergy 1</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sem orci, rhoncus sed tortor sed,
                    posuere bibendum nisl. Etiam quis libero ac orci vulputate eleifend et at turpis. Donec at enim vel
                    mi dignissim laoreet. </p>
            </div>

            <div class="box">
                <a href="#">Allergy 2</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sem orci, rhoncus sed tortor sed,
                    posuere bibendum nisl. Etiam quis libero ac orci vulputate eleifend et at turpis. Donec at enim vel
                    mi dignissim laoreet. </p>
            </div>

            <div class="box">
                <a href="#">Allergy 3</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sem orci, rhoncus sed tortor sed,
                    posuere bibendum nisl. Etiam quis libero ac orci vulputate eleifend et at turpis. Donec at enim vel
                    mi dignissim laoreet. </p>
            </div>
            <div class="box">
                <a href="#">Allergy 4</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sem orci, rhoncus sed tortor sed,
                    posuere bibendum nisl. Etiam quis libero ac orci vulputate eleifend et at turpis. Donec at enim vel
                    mi dignissim laoreet. </p>
            </div>

            <div class="box">
                <a href="#">Allergy 5</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sem orci, rhoncus sed tortor sed,
                    posuere bibendum nisl. Etiam quis libero ac orci vulputate eleifend et at turpis. Donec at enim vel
                    mi dignissim laoreet. </p>
            </div>

            <div class="box">
                <a href="#">Allergy 6</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sem orci, rhoncus sed tortor sed,
                    posuere bibendum nisl. Etiam quis libero ac orci vulputate eleifend et at turpis. Donec at enim vel
                    mi dignissim laoreet. </p>
            </div>
        </div>
    </section>
</body>

</html>