<!DOCTYPE html>
<html lang="en">

<head>
    <title>Register</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
    integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> 
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/register.css">
    <script src="../../MVC/scripts/register.js" defer></script>
    <script src="../../MVC/scripts/index.js" defer></script>
</head>

<body>

    <!-- navbar -->
    <div class="nav" id="myTopnav">
        <div>
            <a class="menu" href="index.html">News</a>
            <a class="menu" href="suggestions.html">Sugestions</a>
        </div>

        <div class="icon-menu">
            <a class="Login-btn" href="login.html">Login</a>
            <form id="search">
                <input type="text" placeholder="Search...">
                <button type="submit" value="Submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="menuBars()">
            <i class="fa fa-bars"></i>
        </a>
    </div>

    <!-- register-form -->

    <form action="/register" method="POST">

        <table class="register_table">

            <tr>
                <td colspan=2 style="font-size: 25px">
                    <span><b>Registration Form</b></span>
                </td>
            </tr>
            <tr>
                <td>Username</td>
                <td>
                    <input type="text" name="username" id="firstname" size="30">
                </td>
            </tr>

            <tr>
                <td>Password</td>
                <td>
                    <input type="password" name="password" id="password" size="30">
                </td>
            </tr>

            <tr>
                <td>Repeat password</td>
                <td>
                    <input type="password" name="password2" id="password2" size="30">
                </td>
            </tr>

            <tr>
                <td>Email</td>
                <td>
                    <input type="text" name="email" id="emailid" size="30">
                </td>
            </tr>
            <tr>
                <td>Your allergy</td>
                <td>
                    <form>
                        <div class="multiselect">
                            <div class="selectBox" onclick="showCheckboxes1()">
                                <select>
                                    <option>Weather Allergies</option>
                                </select>
                                <div class="overSelect"></div>
                            </div>
                            <div id="checkboxes1">
                                <label for="one">
                                    <input type="checkbox" id="one" />Sun</label>
                                <label for="two">
                                    <input type="checkbox" id="two" />Wind dust</label>
                                <label for="three">
                                    <input type="checkbox" id="three" />Cold</label>
                            </div>
                        </div>
                    </form>

                    <form>
                        <div class="multiselect">
                            <div class="selectBox" onclick="showCheckboxes2()">
                                <select>
                                    <option>Respiratory Allergies</option>
                                </select>
                                <div class="overSelect"></div>
                            </div>
                            <div id="checkboxes2">
                                <label for="one">
                                    <input type="checkbox" id="pollen" />Pollen</label>
                                <label for="two">
                                    <input type="checkbox" id="dust-mites" />Dust mites</label>
                                <label for="three">
                                    <input type="checkbox" id="mold" />Mold </label>
                                <label for="three">
                                    <input type="checkbox" id="animals" />Animals </label>
                            </div>
                        </div>
                    </form>
                    <form>
                        <div class="multiselect">
                            <div class="selectBox" onclick="showCheckboxes3()">
                                <select>
                                    <option>Food Allergies</option>
                                </select>
                                <div class="overSelect"></div>
                            </div>
                            <div id="checkboxes3">
                                <label for="one">
                                    <input type="checkbox" id="milk" />Milk</label>
                                <label for="two">
                                    <input type="checkbox" id="eggs" />Eggs </label>
                                <label for="three">
                                    <input type="checkbox" id="nuts" />Nuts </label>
                                <label for="three">
                                    <input type="checkbox" id="soy" />Soy</label>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
            <tr>
                <td>Another allergy that doesn't appear on the list?</td>
                <td>
                    <input type="text" name="allergy" id="another-allergy" size="30">
                </td>
            </tr>

            <tr>
                <td>
                    <input type="reset">
                </td>
                <td>
                    <input type="submit" value="Submit Form" />
                </td>
            </tr>
        </table>
    </form>


    <footer>Copyright &copy; Proiect TW</footer>

</body>

</html>