<!DOCTYPE html>
<html lang="en">

<head>
  <title>Sugestions</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
    integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" media="screen" href="../css/index.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="../css/suggestions.css" />
  <script src="../../MVC/scripts/index.js" defer></script>
</head>

<body>

  <!-- navbar -->
  <div class="nav" id="myTopnav">
    <div>
      <a class="menu" href="index.html">News</a>
      <a class="menu" href="new_allergy.html"><i class="fa fa-plus-circle"></i> Add allergy</a>
      <a class="menu" href="suggestions.html">Sugestions</a>
    </div>

    <div class="icon-menu">
      <a class="Login-btn" href="register.html">Register</a>
      <a class="Login-btn" href="login.html">Login</a>
      <form id="search">
        <input type="text" placeholder="Search...">
        <button type="submit" value="Submit"><i class="fas fa-search"></i></button>
      </form>
    </div>
    <a href="javascript:void(0);" class="icon" onclick="menuBars()">
      <i class="fa fa-bars"></i>
    </a>
  </div>

  <!-- suggestion -->

  <h2 class="sugestion-title">Sugestions</h2>

  <div class="timeline">
    <div class="container left">
      <div class="content">
        <h2>Alergie la polen</h2>
        <h3>Simptome</h3>
        <p> Simptomele alergice tind sa fie deosebit de intense in zilele mai racoroase, atunci cand vantul ridica si
          transporta polenul prin aer. In zilele ploioase, pe de alta parte, are loc o scadere a cantitatii de polen din
          aer. Manifestarile alergiei includ:
          <ul>
            <li>rinoree, lacrimarea ochilor</li>
            <li>stranut</li>
            <li>tuse</li>
            <li>mancarimi la nivelul nasului si ochilor</li>
            <li>umflarea ochilor.</li>
          </ul>

          Alergenii din aer pot declansa astmul, o afectiune in cazul careia caile respiratorii se ingusteaza, fapt ce
          face dificila respriratia si cauzeaza tusea, respiratia suieratoare si scurtarea respiratiei.</p>
        <h3> Tratament </h3>
        <p>Tratamentele pentru alergiile de primavara includ numeroase medicamente eliberate fara prescriptie medicala.
          Aceste medicamente sunt eficiente in majoritatea cazurilor si includ:
          <ul>
            <li> antihistaminice - amelioreaza simptomele de alergie prin scaderea nivelului de histamina </li>
            <li> decongestionante - ajuta la eliberarea pasajelor nazale si calmeaza congestia si inflamatia </li>
            <li> spray-uri nazale - sunt mai eficiente si mai rapide decat deongestionantele orale</li>
            <li> spray-uri nazale cu cromolyn sodiu - pot ajuta la prevenirea rinitei alergice sezoniere prin limitarea
              productiei de histamina, inainte ca aceasta sa declanseze simptome alergice</li>
            <li> picaturi pentru ochi - pentru ameliorarea mancarimilor si lacrimarii ochilor.</li>
          </ul>
          Chiar daca puteti achizitiona aceste medicamente fara prescriptie medicala, este indicat sa discutati cu
          medicul dumneavoastra inainte de a le utiliza, pentru a va asigura ca urmati un tratament adecvat si sigur.
          Unele antihistaminice pot sa determine aparitia senzatiei de somnolenta (asa ca trebuie sa fiti atenti atunci
          cand le luati in timpul zilei). Nu folositi antihistaminice si decongestionante eliberate fara prescriptie
          medicala, mai mult de cateva zile fara sa discutati, mai intai, cu medicul dumneavoastra.</p>
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <h2>Alergie la lapte</h2>
        <h3>Simptome </h3>
        <p>Simptomele alergiei se declanșează de obicei la câteva minute de la consumul de lapte. Simptomele pot fi:
          <ul>
            <li>erupție cutanată</li>
            <li>urticarie</li>
            <li>prurit</li>
            <li>congestie nazală, secreții apoase din nas și strănut (rinită alergică)</li>
            <li>respirație îngreuiată</li>
            <li>respirație șuierătoare (wheezing)</li>
            <li>crampe</li>
            <li>greață</li>
            <li>vomismente</li>
            <li>diaree</li>
            <li>ochi apoși</li>
            <li>colici (la bebeluși)</li>
            <li>Manafilaxie</li>
          </ul>
        </p>
        <h3>Tratament</h3>
        <p>
          <ul>
            <li>administrarea de antihistaminice</li>
            <li>tratamentul anafilaxiei cu epinefrină injectabilă</li>
            <li>eliminarea din alimentație a produselor care conțin proteine din lapte</li>
            <li>Acupunctură</li>
            <li>Reflexoterapie</li>
            <li>Hrean</li>
            <li>Ceai de musetel</li>
          </ul>
        </p>
      </div>
    </div>
    <div class="container left">
      <div class="content">
        <h2>Alergia la praf</h2>
        <h3>Simptome</h3>
        <p>Cele mai intalnite simptome ale acesteia sunt asemanatoare acelora de gripa ori raceala, pentru ca includ
          mancarimea nazala, stranutul, secretiile nazale apoase ori mucoase, mancarime pe cerul gurii sau chiar
          mancarime a ochilor, ochi rosii, pleoape inflamate si lacrimare, scrie divahair.ro.</p>
        <h3>Tratament</h3>
        <p>Ceaiul de menta este printre cele mai folosite remedii naturiste impotriva alergiei la praf. Si asta pentru
          ca este un antiinflamator natural si antibacterian, iar uleiul esential din frunzele de menta este un
          decongestionant nazal natural. Cum ai intotdeauna menta prin casa, nu va fi deloc greu sa pui putina apa la
          fiert si sa lasi frunzele sau plicurile de ceai la infuzat. Iti va fi de mare ajutor.</p>
        <p>O lingura de miere poliflora iti va diminua simptomele reactiei alergice la praf. Pana la urma, si mierea
          este un tratament naturist folosit pentru multiple alergii, pentru gripa sau raceala. Dupa ce ai inghitit
          mierea, stranutatul ar trebui as inceteze. Mai mult, daca ti s-a inrosit pielea si ai eruptii cutanate de la
          reactia alergica, inmoaie o discheta demachianta sau o carpa din bumbac in miere si aplic-o pe zonele cu
          pricina. In acest fel, vei avea pielea mai catifelata, umflaturile se vor diminua, iar aceste eruptii nu iti
          vor lasa pete pe corp.</p>
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <h2>Alergia la soare</h2>
        <h3>Simptome</h3>
        <p>În cele mai multe cazuri, cei alergici la soare se confruntă cu erupții puternice și piele înroșită. Uneori
          pot apărea și vezicule, pustule, sângerări sau prurit intens (mâncărime). Fața este afectată de alergiile
          solare în cazuri mai rare. De obicei sunt afectate brațele și pieptul - zone care nu au fost protejate de
          radiații și au fost expuse direct la soare.</p>
        <h3>Tratament</h3>
        <p>Poți preveni alergia la soare folosind o cremă eficientă de protecție solară, special formulată pentru a
          combate dermatita polimorfă la lumină. Evită radiațiile puternice din mijlocul zilei și acoperă-te întotdeauna
          cu haine potrivite. Cel mai bine e să alegi haine cu protecție UV, cu efect testat. Ele sunt făcute dintr-o
          țesătură specială, care blochează penetrarea razelor UV. În plus, cei care suferă de alergie solară pot face
          terapie cu lumină înainte ca sezonul cald să înceapă. Acest lucru desensibilizează pielea în fața soarelui.
        </p>
      </div>
    </div>

  </div>
  <footer>Copyright &copy; Proiect TW</footer>
</body>

</html>